.tag {
  padding: 6px 14px;
  border: 1px solid var(--t-dark15);
  min-width: max-content;
  max-width: max-content;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.card {
  padding: 4px 10px;
}

.active {
  border-color: var(--c-accent-blue);
  color: var(--c-accent-blue);
}

@media (min-width: 1200px) {
  .card {
    padding: 6px 14px;
  }
}