.right { 
    width: 14px;
    height: 14px;       
}

.left {
    width: 14px;
    height: 14px; 
    transform: rotate(180deg);   
}

.stroke {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-blue40);    
}

.stroke:hover {
    background-color: var(--c-accent-blue4);
    cursor: pointer;
}